.picker-container {
position: absolute;
z-index: 99;

}
.jquery-calendar{
    position: relative;
	width:300px;
    top: 4px;
}


.cal {
background-color: white;
width: 294px; height:251px;
margin-left:12px;
border-collapse: collapse;
border-spacing: 0;
}

.cal a {
text-decoration: none;
}

.cal tr, .cal th, .cal td {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

.cal caption {
line-height: 32px;
    margin-top: -2px;
font-weight: bold;
color: #5e7f2c;
text-align: center;
background: #fff;
}
.cal caption a {
display: block;
line-height: 32px;
padding: 0 10px;
font-size: 15px;
color: #86af49;
}
.cal caption a:hover {
color: white;
}
.cal caption .prev {
float: left;
}
.cal caption .next {
float: right;
}
.cal th, .cal td {
width: 42px;
text-align: center;
font-family:'malgun gothic';
}
.cal th:first-child, .cal td:first-child {
border-left: 0;
}
.cal th {
line-height: 20px;
font-size: 14px;
color: #FFF;
text-transform: uppercase;
background: #86af49;
border-left: 0px;
}
.cal td {
font-size: 15px;
font-weight: bold;
}
.cal td a {
clear: both;
display: block;
position: relative;
width: 42px;
height:46px;
line-height: 28px;
color: #666;
background-color: #92bf4f;
}
.cal td a:hover, .cal td.off a {
background: #cae5a2;
}
.cal td.off a {
color: #b3b3b3;
}
.cal td.active a, .cal td a:active {
margin: 0px;
color: #f3f3f3;
background: #7ab029;
}
.cal td.active:first-child a, .cal td:first-child a:active {
border-left: 0;
margin-left: 0;
}
.cal td.active:last-child a, .cal td:last-child a:active {
border-right: 0;
margin-right: 0;
}
.cal tr:last-child td.active a, .cal tr:last-child td a:active {
border-bottom: 0;
margin-bottom: 0;
}
